<div class="modal" tabindex="-1" role="dialog" id="change_state_modal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deactivating Concept</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Deactivate concept <b>{{concept_id}}</b>? </p>
          <p>
            All lower concepts will also be deactivated as part of the overnight update.
        </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-location-id="{{location_id}}" data-concept-id="{{concept_id}}">Confirm</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
 $('#change_state_modal').on('hidden.bs.modal', function (e) {
     // change state modal window generated each time user clicks on
     // change state radio-button, so we need to remove it from html
     $('#change_state_modal').remove();  
 })
</script>
